<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}The Knower | Who knows everything{% endblock %}</title>

        {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="main-content">
            {% for message in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
